@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     height: -webkit-fill-available;
    min-height: 100vh;
    background-color: #141414;
    user-select: none;
    overflow: hidden;

}

main {
    width: 327px;
    height: 579px;
    background-color: #1f1f1f;
    margin: 116.5px 24px 116.5px 24px;
    border-radius: 12px;


}

img {
    margin: 24px 119.5px 0px 119.5px;
}

div {
    display: flex;
    flex-direction: column;
    width: 279px;
    height: 61px;
    margin: 24px 24px 0px 24px;
    align-items: center;
}

h1 {

    font-size: 24px;
    font-weight: 600;
    color: white;
    line-height: 150%;
}

h2 {
    font-weight: 800;
    font-size: 14px;
    color: yellow;



}

.bio {
    width: 279px;
    height: 21px;
}

h3 {
    font-size: 14px;
    font-weight: 400;
    color: white;



}

.links {
    width: 279px;
    height: 289px;
    display: flex;
    flex-direction: column;
    gap: 16px;

}

section {
    display: flex;
    justify-content: center;
    width: 279px;
    height: 45px;
    border-radius: 8px;
    background-color: #333;

}

h4 {
    position: relative;
    font-size: 14px;
    font-weight: 700;
    color: white;
    margin: 12px 0px 12px 0px;



}

button {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background-color: #333;
    border-style: none;
}
